{{ form_start(form, {attr: {class: 'comment-form'}}) }}
  {{ form_errors(form) }}

  {{ form_row(form.comment, {
    attr: { 'aria-label': 'comment_form.comment'|trans, rows: 6 },
    label_attr: { hidden: true }
  }) }}

  {% if form.userFlag is defined %}
    {{ form_row(form.userFlag) }}
  {% endif %}

  {{ form_row(form.submit) }}
{{ form_end(form) }}
