{% extends 'base.html.twig' %}

{% from 'submission/_macros.html.twig' import submission %}
{% from '_macros/post_nav.html.twig' import front_post_types,
                                            submission_filter,
                                            submission_sort,
                                            submission_time %}

{% block site_nav_active 'front' %}

{% block head %}
  <link rel="canonical" href="{{ url('front') }}">

  <meta property="og:title" content="{{ site_name() }}">
  <meta property="og:site_name" content="{{ site_name() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('front') }}">
  <meta property="og:image" content="{{ absolute_url(asset('apple-touch-icon-precomposed.png')) }}">

  <link rel="alternate" type="application/atom+xml" href="{{ path('featured_feed') }}" title="{{ 'title.submissions_in_featured_forums'|trans }}">

  {% include '_includes/meta_pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block body %}
  <nav class="nav nav--guttered">
    {{ front_post_types('submissions') }}

    <ul class="unlistify nav">
      {{ submission_filter(listing, sort_by) }}
      {{ submission_sort(sort_by) }}
      {{ submission_time(sort_by) }}
    </ul>
  </nav>

  {% block front_alerts '' %}

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {% include '_includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}
