{% extends 'front/base.html.twig' %}

{% block front_alerts %}
  {% if is_granted('ROLE_USER') %}
    {% if app.user.frontPage == 'subscribed' and app.user.subscriptions|length == 0 %}
      {% embed '_layouts/alert.html.twig' %}
        {% block alert_paragraph 'front.no_subscriptions'|trans %}
      {% endembed %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ parent() }}

  <section class="sidebar__section sidebar-card">
    <h1 class="sidebar__title">{{ 'front.featured_forums'|trans }}</h1>

    {% if forums|length > 0 %}
      <ul class="unlistify nav nav--guttered nav--slim-gutters">
        {% for name in forums %}
          <li>
            <a href="{{ path('forum', {forum_name: name}) }}"
               class="button button--secondary button--small">
              {{- name -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="fg-muted">
        <small class="text-sm">
          {{- 'front.no_forums'|trans -}}
        </small>
      </p>
    {% endif %}
  </section>
{% endblock %}
