{% extends 'front/base.html.twig' %}

{% block body %}
  {% if forums is empty %}
    {% embed '_layouts/alert.html.twig' %}
      {% block alert_paragraph 'flash.no_moderated_forums'|trans %}
    {% endembed %}
  {% endif %}

  {{ parent() }}
{% endblock %}

{% block sidebar %}
  {{ parent() }}

  {%- if forums|length > 0 -%}
    <section class="sidebar__section sidebar-card">
      <h1 class="sidebar__title">{{ 'heading.forums_you_moderate'|trans }}</h1>

      <ul class="unlistify nav nav--guttered nav--slim-gutters">
        {% for forum in forums %}
          <li>
            <a href="{{ path('forum', {forum_name: forum}) }}"
               class="button button--secondary button--small">
              {{- forum -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {%- endif -%}
{% endblock %}
