{% extends 'user/base.html.twig' %}
{% from '_macros/icon.html.twig' import icon %}

{% block title 'edit_user.title'|trans({'%username%': user.username}) %}

{% block site_nav_user_menu_active 'account' %}

{% block body %}
  <h1 class="page-heading break-text">{{ block('title') }}</h1>

  {% if app.user != user %}
    {% embed '_layouts/alert.html.twig' %}
      {% block alert_type 'warn' %}
      {% block alert_paragraph 'flash.editing_credentials_of_other_user'|trans %}
    {% endembed %}
  {% endif %}

  {{ include('user/_form.html.twig', { form: form }, with_context=false) }}
{% endblock %}
