{% extends 'base.html.twig' %}

{% block forum_toolbox_active app.request.attributes.get('_route') %}

{% block head %}
  <link rel="alternate" type="application/atom+xml" href="{{ path('forum_feed', {forum_name: forum.name}) }}" title="{{ forum.name }}">
{% endblock %}

{% block theme_css %}
  {% set theme = (app.user.showCustomStylesheets ?? true) ? forum.suggestedTheme %}
  {% if theme %}
    {{ encore_entry_link_tags(theme_entrypoint(theme.configKey, app.user.nightMode ?? false)) }}
  {% else %}
    {{ parent() }}
  {% endif %}
{% endblock theme_css %}

{% block sidebar %}
  <section class="sidebar__section sidebar-card">
    <h1 class="sidebar__title forum-title break-text">
      <a href="{{ path('forum', {forum_name: forum.name}) }}">{{ forum.title }}</a>
    </h1>

    {% if is_granted('ROLE_USER') %}
      {% from 'forum/_macros.html.twig' import subscribe_button %}
      {% set subscribed = forum.subscribed(app.user) %}
      <form action="{{ path(subscribed ? 'unsubscribe' : 'subscribe', {forum_name: forum.name}) }}"
            method="POST"
            class="form subscribe-form"
            data-forum="{{ forum.name }}">
        <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">

        <div class="form__row">
          {{ subscribe_button(forum, subscribed, false) }}
        </div>
      </form>
    {% endif %}

    {% if forum.sidebar is not empty %}
      <div class="forum-sidebar-content break-text">
        {{- forum.sidebar|cached_markdown({ context: 'forum_sidebar', forum: forum })|raw -}}
      </div>
    {% endif %}
  </section>

  {% if is_granted('ROLE_USER') %}
    {% set is_hidden = app.user.hidingForum(forum) %}
    <details class="sidebar__section sidebar-card">
      <summary class="sidebar__title">{{ 'heading.hide_this_forum'|trans }}</summary>

      <p class="fg-muted text-md">{{ 'help.hidden_forums'|trans }}</p>

      <form action="{{ path(is_hidden ? 'unhide_forum' : 'hide_forum', {username: app.user.username, forum: forum.id}) }}" method="POST">
        <input type="hidden" name="token" value="{{ csrf_token('hide_forum') }}">

        <p>
          <button class="button button--secondary" title="">
            {{ is_hidden ? 'action.unhide'|trans : 'action.hide'|trans }}
          </button>
        </p>
      </form>
    </details>
  {% endif %}

  <section class="sidebar__section sidebar-card">
    <h1 class="sidebar__title">{{ 'label.toolbox'|trans }}</h1>

    {% set toolbox_items = {
      ('nav.bans'|trans): {
        route: 'forum_bans',
      },
      ('nav.moderation_log'|trans): {
        route: 'moderation_log',
      },
      ('forum.edit'|trans): {
        route: 'edit_forum',
        condition: is_granted('moderator', forum),
      },
      ('nav.appearance'|trans): {
        route: 'forum_appearance',
        condition: is_granted('moderator', forum),
      },
      ('nav.webhooks'|trans): {
        route: 'forum_webhooks',
        condition: app_webhooks_enabled() and is_granted('moderator', forum),
      },
      ('forum.add_moderator'|trans): {
        route: 'add_moderator',
        condition: is_granted('ROLE_ADMIN'),
      },
      ('nav.delete_forum'|trans): {
        route: 'delete_forum',
        condition: is_granted('ROLE_ADMIN'),
      },
    } %}

    <ul class="unlistify sidebar__no-padding">
      {% for label in toolbox_items|keys|sort if toolbox_items[label].condition ?? true %}
        {% set item = toolbox_items[label] %}
        <li>
          <a href="{{ path(item.route, { forum_name: forum.name }) }}"
             class="menu-item {{ block('forum_toolbox_active') == item.route ? 'menu-item--active' }}">
            {{- label -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  {% if forum.moderators|length > 0 %}
    <section class="sidebar__section sidebar-card">
      <h1 class="sidebar__title">
        <a href="{{ path('forum_moderators', {forum_name: forum.name}) }}">
          {{- 'forum.moderators'|trans -}}
        </a>
      </h1>

      <ul class="unlistify nav nav--guttered nav--slim-gutters">
        {% for moderator in forum.moderators %}
          <li>
            <a href="{{ path('user', {username: moderator.user.username}) }}"
               class="button button--secondary button--small">
              {{- moderator.user.username -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endblock %}
