{% extends 'forum/base.html.twig' %}

{% block title 'edit_forum.title'|trans({'%forum%': '/f/'~forum.name}) %}

{% block body %}
  <h1 class="page-heading break-text">
    {{ 'title.editing_forum'|trans({
      '%forum%': '<a href="%s">/f/%s</a>'|format(path('forum', {forum_name: forum.name})|e, forum.name|e)
    })|raw }}
  </h1>

  {{ include('forum/_form.html.twig', {form: form}, with_context=false) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% cspscript %}
    <script>
      $('.delete-forum').click(function () {
        return confirm(Translator.trans('forum_form.confirm_delete'));
      });
    </script>
  {% endcspscript %}
{% endblock %}
