{% extends 'forum/base.html.twig' %}

{% from '_macros/post_nav.html.twig' import forum_post_types, submission_sort, submission_time %}
{% from 'submission/_macros.html.twig' import submission %}

{% block title %}{{ forum.title }}{% endblock %}

{% block head %}
  {{ parent() }}

  <link rel="canonical" href="{{ url('forum', {forum_name: forum.name}) }}">
  {% include '_includes/meta_pagination.html.twig' with {pager: submissions} %}

  <meta property="og:title" content="{{ forum.title }}">
  <meta property="og:site_name" content="{{ site_name() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('forum', {forum_name: forum.name}) }}">
  <meta property="og:image" content="{{ absolute_url(asset('apple-touch-icon-precomposed.png')) }}">

  {% if forum.description is not empty %}
    <meta name="description" content="{{ forum.description }}">
  {% endif %}
{% endblock %}

{% block body %}
  {% filter spaceless %}
    <h1 class="page-heading forum-name-heading">
      <span class="forum-name-heading__prefix">/f/</span>
      <strong class="forum-name-heading__name">{{ forum.name }}</strong>
    </h1>
  {% endfilter %}

  <nav class="nav nav--guttered">
    {{ forum_post_types(forum.name, 'submissions') }}

    <ul class="unlistify nav">
      {{ submission_sort(sort_by) }}
      {{ submission_time(sort_by) }}
    </ul>
  </nav>

  {% if submissions.isEmpty() %}
    {% include '_includes/empty.html.twig' %}
  {% endif %}

  {% for submission in submissions %}
    {{ submission(submission, {show_forum_name: false}) }}
  {% endfor %}

  {% include '_includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}
