{% extends 'base.html.twig' %}
{% from '_macros/icon.html.twig' import icon %}
{% from 'forum/_list_macros.html.twig' import create_forum, forum_list_tabs %}

{% block site_nav_active 'places' %}
{% block site_nav_main_menu_active 'forums' %}

{% block title 'forum_list.page_title'|trans %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: forums}, with_context=false) }}
  <link rel="canonical" href="{{ url('forum_list') }}">
{% endblock %}

{% set forum_sort_modes = {
  'by_name': 'forum_list.name'|trans,
  'by_title': 'forum_list.title'|trans,
  'by_submissions': 'forum_list.submission_count'|trans,
  'by_subscribers': 'forum_list.subscribers'|trans,
} %}

{% block body %}
  <h1 class="page-heading">{{ 'forum_list.page_title'|trans }}</h1>

  <nav class="forum-list-view-selector nav nav--guttered">
    {{ forum_list_tabs() }}
    <ul class="unlistify nav">
      <li class="dropdown">
        <button type="button"
                class="tab dropdown__toggle unbuttonize no-underline"
                aria-label="{{ 'label.sort_by_mode'|trans({
                  '%mode%': forum_sort_modes[sortBy]
                }) }}">
          {{ icon('sort') }}
          <span class="no-underline__exempt">{{ forum_sort_modes[sortBy] }}</span>
          <span class="dropdown__arrow" aria-hidden="true"></span>
        </button>
        <ul class="dropdown__menu dropdown-card unlistify">
          {% for mode, label in forum_sort_modes %}
            <li>
              <a href="{{ path('forum_list', { sortBy: mode }) }}"
                 class="menu-item {{ app.request.attributes.get('sortBy') == mode ? 'menu-item--active' }}">
                {{- label -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>

  {{ create_forum() }}

  {% for forum in forums %}
    <article class="forum-card">
      <div class="forum-card__main-column">
        <h2 class="forum-card__heading break-text">
          <a href="{{ path('forum', {forum_name: forum.name}) }}">
            <span class="forum-card__name">/f/{{ forum.name }}</span>
            &mdash;
            <span class="forum-card__title n">{{ forum.title }}</span>
            {#- remove spacing -#}
          </a>

          {% if forum.featured %}
            <span title="{{ 'help.forum_is_featured'|trans }}"
                  aria-label="{{ 'help.forum_is_featured'|trans }}">&#x2b50;</span>
          {% endif %}

          {% if is_granted('ROLE_USER') and app.user.hidingForum(forum) %}
            <span title="{{ 'help.forum_is_hidden'|trans }}"
                  aria-label="{{ 'help.forum_is_hidden'|trans }}">&#x274c;</span>
          {% endif %}
        </h2>

        <p class="forum-card__description no-margin break-text">
          {{- forum.description -}}
        </p>
      </div>

      <div class="forum-card__subscribe-column">
        {% if is_granted('ROLE_USER') %}
          {% from 'forum/_macros.html.twig' import subscribe_button %}
          {% set subscribed = forum.subscribed(app.user) %}
          <form action="{{ path(subscribed ? 'unsubscribe' : 'subscribe', {forum_name: forum.name}) }}"
                method="POST"
                class="subscribe-form"
                data-forum="{{ forum.name }}">
            <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">
            {{ subscribe_button(forum, subscribed, true) }}
          </form>
        {% else %}
          <p class="no-margin">{{ 'forum.subscriber_count'|trans({
            '%count%': forum.subscriptions|length,
            '%formatted_count%': forum.subscriptions|length|localizednumber,
          }) }}</p>
        {% endif %}

        <p class="no-margin fg-muted text-sm">{{ 'forum.submission_count'|trans({
          '%count%': forum.submissions|length,
          '%formatted_count%': forum.submissions|length|localizednumber,
        }) }}</p>
      </div>
    </article>
  {% endfor %}

  {{ include('_includes/pagination.html.twig', {pager: forums}, with_context=false) }}
{% endblock %}
